# Virtual Environment & Python Cache  
venv/  
.venv/  
__pycache__/  

# Credentials & Sensitive Files  
.env  
*.pem  
certs/  
beacon-gmail-client.json  
cookies.txt  

# Logs & Debugging Files  
logs/  
diff.txt  
.coverage  

# Development & Temporary Files  
playground/  
backups/  
.cursor/  

# Jupyter Notebook Checkpoints  
.ipynb_checkpoints/  

# macOS System Files  
.DS_Store  

# Testing & Pytest Cache  
.pytest_cache/  

# Ignore this file itself  
.gitignore  
